<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Books</title>
    {%include 'header.html'%}
</head>
<body>
    {%include 'nav.html'%}
    <div class="container text-center mt-5">
            <h1 class="fw-bolder text-center">Books</h1>
        <table class="table table-bordered">
            {%csrf_token%}
            <thead class="table-dark">
                <th>Id</th>
                <th>Name</th>
                <th>Author</th>
                <th>Price</th>
                <th>Genres</th>
                <th>Publisher</th>
                <th>Delete</th>
            </thead>
            {% for bk in books %}
            <tr>
                <td>{{bk.id}}</td>
                <td>{{bk.name}}</td>
                <td>{{bk.author}}</td>
                <td>{{bk.price}}</td>
                <td>{{bk.genres}}</td>
                <td>{{bk.publisher}}</td>
                <td>
                    <a href="{%url 'bk-delete' bk.id%}" class="border-0 btn btn-dark"><i class="fa-solid fa-trash"></i></a>  
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>